@use '../abstracts/variables' as vars;

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: vars.$background;
  padding: vars.$spacing-unit * 2;

  header {
    width: 100%;
  }

  &-section {
    flex: 1;
    padding: vars.$spacing-unit * 1;
  }
}
